<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"/>
    <title>Add new book</title>
</head>
<body>
<div align="center" class="p-5">
    <div class="w-50 card" align="center">
        <div class="card-body">
            <div class="card-header">
                <h1>Add new Book</h1>
            </div>
            <br/><br/>
            <form action="#" th:action="@{/books}" th:object="${newBook}" method="post">
                <table border="0" cellpadding="10">
                    <tr>
                        <td>Book Title</td>
                        <td><input type='text' th:field="*{bookTitle}"/></td>
                    </tr>
                    <tr>
                        <td>Language</td>
                        <td><input type='text' th:field='*{language}'/></td>
                    </tr>
                    <tr>
                        <td>Availability Status</td>
                        <td>
                            <select th:field="*{availabilityStatus.statusCode}">
                                <option value="">Choose..</option>
                                <option th:each="status: ${status}" th:value="${status.statusCode}"
                                        th:text="${status.statusDescription}"></option>
                            </select>
                        </td>

                    </tr>
                    <tr>
                        <td collspan='2'>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </td>
                        <td collspan='2'>
                            <a href="/books"><button class="btn btn-primary">Cancel</button></a>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>

</body>
</html>
